
body {
    font-family: arial;
    font-size: 120%;
    margin: 0 auto;
}
     

.drop, .allergy {
    font-weight: bold;
}


#burger_selection {
    color: white;
    background-color: #473936; /** Lighter black **/

    border: 2px dotted white;
    border-radius: 20px;
}


#whole_form {
    border: 2px dotted black;
    border-radius: 20px;
}


button:hover {
    background-color: #9B9DA0;
    font-weight: bold;

    cursor: pointer;
}

.button {
    margin-left: 10px;
    margin-bottom: 20px;
}


.form_text {
    margin-left: 10px;
}

table {
    width: 102%;
    align-self: center;
}

section, header{
    margin: 12px;
}

.burger_title, table {
    margin: 15px 7px;
    padding-top: 5px;
}

.header_pic {
    height: 190px;
    width: 1325px;
    opacity: 0.85;
}






