
body {
    font-family: arial;
    font-size: 120%;
    margin: 0 auto;
}
     

.drop, .allergy {
    font-weight: bold;
}


#burger_selection {
    color: white;
    background-color: #473936; /** Lighter black **/

    border: 2px dotted white;
    border-radius: 20px;
}


#whole_form {
    border: 2px dotted black;
    border-radius: 20px;
}


button:hover {
    background-color: #9B9DA0;
    font-weight: bold;

    cursor: pointer;
}

.button {
    margin-left: 10px;
    margin-bottom: 20px;
}


.form_text {
    margin-left: 10px;
}

table {
    width: 102%;
    align-self: center;
}

section, .header {
    margin: 12px;
}

.burger_title, table {
    margin: 15px 7px;
    padding-top: 5px;
}

.header_pic {
    height: 250px;
    width: 1300px;
    opacity: .6;
}

.title {
    color: black;

    position: absolute;
    left: 400px;
    bottom: 460px;
}

.header {
    overflow: hidden;
    width: 100%;
    height: auto;
    padding: 5px;
}

/** GRID **/

.wrapper {
     display: grid;
     grid-gap: 50px;
     grid-template-columns: 400px 400px 400px;
     padding-left: 30px;
}

 .box {
     
     font-size: 120%;
 }

 
 .a {
     grid-column: 1 ;
     grid-row: 1;
 }
 .b {
     grid-column: 1;
     grid-row: 2;
 }
 .c {
     grid-column: 1;
     grid-row: 3;
 }


 
 .d {
     grid-column: 2 ;
     grid-row: 1;
 }
 .e {
     grid-column: 2;
     grid-row: 2;
 } 
 .f {
     grid-column: 2;
     grid-row: 3;
 }

 
.g {
     grid-column: 3 ;
     grid-row: 1;
 }
 .h {
     grid-column: 3;
     grid-row: 2;
 } 
 .
 i {
     grid-column: 3;
     grid-row: 3;
 }
